<h1 style="text-align: center" class="mt-2">Update Employee</h1>
<hr>
<form (submit)="update(name.value, surname.value, email.value, salary.value, department.value)">
  <div class="form-group">
    <input type="text" (error)="employeeData.errors.value" value="{{employeeData.name}}" class="form-control" placeholder="Name" #name>
  </div>
  <div class="form-group">
    <input (error)="surname" type="text" value="{{employeeData.surname}}" class="form-control" placeholder="Surname" #surname>
  </div>
  <div class="form-group">
    <input type="text" value="{{employeeData.email}}" class="form-control" placeholder="Email" #email>
  </div>
  <div class="form-group">
    <input type="text" value="{{employeeData.salary}}" class="form-control" placeholder="Salary" #salary>
  </div>
  <div class="form-group">
    <input type="text" value="{{employeeData.department}}" class="form-control" placeholder="Department" #department>
  </div>
  <button type="submit" style="width: 100%" class="btn btn-outline-primary">Save</button>
</form>
<br><br>
<hr>
